{% if include.author != site.authors[0] %}
  <div class="read-more">
    <div class="read-more-header">
      <a href="#" class="read-more-btn">{% if include.title %}{{ include.title }}{% else %}{{ include.author.role }}{% endif %}</a> <!-- {{ site.owner.site }} -->
    </div><!-- /.read-more-header -->
    <div class="read-more-content author-info">
      <h3>{{include.author.name}}</h3>
      <div class="author-container">
        {% if include.author.avatar %}<img class="author-img" src="{{site.url}}/{{include.author.avatar}}" alt="{{include.author.name}}" />{% endif %}
        {% if include.author.bio %}<div class="author-bio">{{include.author.bio}}</div>{% endif %}
      </div>
      <div class="author-share">
        <ul class="list-inline social-buttons">
          {% for network in include.author.social %}
            <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
          {% endfor %}
        </ul>
        {% if include.author.cogforums %}
          <a href="https://forum.choiceofgames.com/users/{{include.author.cogforums}}" target="_blank" class="cogforum-button">@{{include.author.cogforums}}</a>
        {% endif %}
        {% if include.author.github %}
          <a aria-label="@{{include.author.github}} on GitHub" data-style="mega" href="https://github.com/{{include.author.github}}" class="github-button">@{{include.author.github}}</a>
        {% endif %}
        {% if include.author.twitter %}
          <a href="https://twitter.com/{{include.author.twitter}}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{include.author.twitter}}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
